h1 {
  display: flex;

  justify-content: center;
}

.box {
  width: 100%;
  text-align: center;
}
.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://live.staticflickr.com/2155/2372222305_3df2bace11_z.jpg");
  background-size: cover;
  z-index: -1;
}
.black-text {
  color: black;
}

.white-text {
  color: white;
}

.table {
  background-color: rgba(255, 255, 255, 0.323);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.form-container {
  width: 400px;
  margin: 0 auto;
}

.solid-white-bg {
  background-color: white;
}
#date-color {
  color: white;
}
#notes-color {
  color: white;
}
#date-color2 {
  color: white;
}
#notes-color2 {
  color: white;
}
